/* p {
    color: red;
}

a:hover {
    color: red;
} */
html {
    font-size: 15px;
    /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif;
    /* 这应该是你从 Google Fonts 得到的其余输出。 */
    background-color: #67e1f1;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;

}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;

}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

button:hover {
    color: #915cf9;
}

.wrapperfloat :nth-last-child(3) {
    background-color: rgb(79, 185, 227);
    padding: 10px;
    color: #fff;
    display: flow-root;
}

.position dt {
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1em 0;
}

.boxfloat {
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(207, 232, 220);
    padding: 1em;
}

.wrapper {
    display: flex;
}

.wrapper>div {
    flex: 1;
}

.box {

    background-color: #3ef7ad;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 100px));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
}

.box1 {

    background-color: #3ef7ad;
}

.box2 {
    background-color: #3ef7ad;
}

.box3 {
    background-color: #3ef7ad;
}